/*set margin of All*/
*{
	margin: 0px;
	padding: 0px;
}

/*Set margin of Box*/
.Box{
	width: 500px;
	margin: 50px auto;
	border: 5px solid gray;
}

.Box article{
	margin-left: 50px;
	margin-top: 70px;
	margin-bottom: 20px;
	margin-right: 10px;
	border: 2px solid red;
}

/*set margin of Box1*/
.Box1{
	 width: 500px;
	 margin: 50px auto;
	 border: 5px solid gray;
}

.Box1 article{
	border: 2px solid blue;
	margin: 80px 50px 20px 30px;
}

/*set margin of Box2*/
.Box2{
	 width: 500px;
	 margin: 50px auto;
	 border: 5px solid gray;
}

.Box2 img{
	width: 400px;
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 5px;
}

.Box2 article{
	margin: 0px 50px 10px 50px;
}

/*set margin of Box3*/
.Box3{
	 width: 500px;
	 margin: 50px auto;
	 border: 5px solid gray;
}

.Box3 img{
	width: 240px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}

.Box3 article{
	margin: 10px auto;
}

/*set margin of Box4*/
.Box4{
	 width: 500px;
	 margin: 50px auto;
	 border: 5px solid gray;
}

.Box4 img{
	width: 240px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}

.Box4 article{
	margin-left: 270px;
	margin-right: 10px;
}

/*set margin of all Paragraph*/
p{
	margin: 5px;
}