body{
	text-align: center;
	font-family: serif;
	padding: 20px;
}
h1{
	text-decoration-line: underline;
	/* using this property */
	text-decoration-style: double;
}

h2{
	text-decoration-line: underline;
	/* using this property */
	text-decoration-style: dashed;
}

h3{
	text-decoration-line: underline;
	/* using this property */
	text-decoration-style: dotted;
}

h4{
	text-decoration-line: underline;
	/* using this property */
	text-decoration-style: solid;
}

h5{
	text-decoration-line: underline;
	/* using this property */
	text-decoration-style: wavy;
}